/* þetta er fyrir að normaliza font size svo 1 rem er 10px */

html {
    font-size: 62.5%;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth; 
}



.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/piano.jpg);
    background-position: center;
    background-size: cover;
}


.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 20%;
    border-end-start-radius: 5rem;
    border-end-end-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.159);  
}

.header nav ul li{
    display: inline-block;
    margin: 0 2.5rem;
}

.header nav ul li a {
    color: white;
    position: relative;
    font-size: 2rem;
}

.header nav ul li a::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 0.3rem;
    left: 0;
    bottom: -0.7rem;
    transition: 0.5s ease;
}

.header nav ul li a:hover::after {
    width: 100%;
}

.sound-logo {
    height: 6rem;
    width: 22rem;
    object-fit: contain;
}

.search-bar {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border-radius: 7.5rem;
    outline: none;
    border: none;
}

::placeholder {
    color: blueviolet;
    opacity: 0.38;
    font-size: 2rem;
    
}

@media (max-width: 1500px) {
    .header a {
        display:none;
    }
    .header input {
        display: none;
    }

    html {
        font-size: 52.5%;
    }

    .main-section {
        text-align: center;
    }
}

 @media (min-width: 1150px) {
    #nav-icon4 {
        display: none;
    }
} 


   

.main-section {
   padding: 15% 20%;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.sidebarmenu {
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.171);
    flex-direction: column;
    align-items: center;
    transition: 0.7s ease;
}

.show-side {
    width: 25%;
    transition: 0.7s ease;
}

 #nav-icon4 {
    width: 40px;
    height: 45px;
    position: fixed;
    right: 20%;
    top: 3rem;
    color: white;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
  }

   #nav-icon4 span {
    display: block;
    position: absolute;

    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }



#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 12px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 24px;
  left: 12px;
}



.sidebarmenu ul li {
    margin-top: 6rem;
    font-size: 2.4rem;
}

.sidebarmenu ul li a {
    color: white; 
    position: relative;
}

.sidebarmenu ul li a::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 0.3rem;
    left: 0;
    bottom: -0.7rem;
    transition: 0.5s ease;
}

.sidebarmenu ul li a:hover::after {
    width: 100%;
}


.main-section h1 {
    margin-bottom: 1%;
    font-size: 9.1rem;
    color: white;
    
}

.main-section p {
    color: white;
    font-size: 5.1rem;
    line-height: 5rem;
}



.container2 {
    height: 100vh;
    width: 100%;
    background-color: #564D80;
    background-color: #0E0167;
 
}

.flex-container  {
    display: flex;
    justify-content: space-between;
    padding: 10rem 20% 0    ; 
}

@media (max-width: 1150px){
    .flex-container{
        flex-direction: column;
        background-color: #564D80;
        align-items: center;
        text-align: center;
    }

    .html{
        font-size: 52.5%;
        
    }

    .header {
       background-color: transparent;
    }
}

.container2-left{
    display: flex;
    flex-direction: column;
    color: white;
}

.container2-left .guitar-image {
    height: 48rem;
    width: 35rem;
    border-radius: 3.3rem;
}


.up-coming-shows {
    display: flex;
    width: 32rem;
    height: 9rem;
    justify-content: space-between;
    margin-top: 4rem;
}

.up-coming-shows .logo2 {
    width: auto;
    height: 6rem;
    margin-right: 2.5rem;
}


.up-coming-shows-text h3{
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
}


.up-coming-shows-text p {
    font-size: 1.6rem;   
}

.container2-right {
    display: flex;
    flex-direction: column;
    color: white;
}

.container2-right h2 {
    font-size: 7rem;
    line-height: 6rem;
    margin-bottom: 3rem;
}

.container2-right p {
    font-size: 3.1rem;
}

.container2-top-right-text {
    margin-bottom: 4rem;
    padding: 2rem;
    position: relative;
}

.small-corner-boxes:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-top: solid 4px white;
    border-left: solid 4px white;
    border-radius: 0.2rem;
}

.small-corner-boxes:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-radius: 0.2rem;
}

.small-corner-boxes:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-left: solid 4px white;
    border-bottom: solid 4px white;
    border-radius: 0.2rem;
}

.small-corner-boxes:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-right: solid 4px white;
    border-bottom: solid 4px white;
    border-radius: 0.2rem;
}


.container2-bottom-right {
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
   
}

.container2-bottom-right img {
    width: 19rem;
    border-radius: 2rem;
}

.container2-bottom-right p {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    width: 20rem;
}
/*container around the third page*/
.container3 {
    height: 100vh;
    width: 100%;
    padding: 0 20%;
    background-color: #89A3FF;
}

.only-text {
    font-size: 6rem;
    color: white;
}


.container4 {
    height: 100vh;
    width: 100%;
    background-color: #0E0167;
}

.container-on-the-left {
    color: white;
}

.container-on-the-left p {
    font-size: 2rem;
    
    
}

.all-the-content-on-page-4 {
    padding: 10rem 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1150px) {
    .all-the-content-on-page-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-on-the-left {
        margin-bottom: 3rem;
    }

}

.container-on-the-left-top-text {
    margin-bottom: 4rem;
}

.container-on-the-left-top-text h3 {
    color: white;
    font-size: 7rem;
    line-height: 12rem;
}

.container-on-the-left-top-text p {
    font-size: 4rem;
    
}

.small-text-below p {
    line-height: 4rem;
}

.container3-images-right {
    border-radius: 2rem;
    width: 30rem;
    margin:1rem 0;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease;
}

.container3-images-right:hover {
    transform: scale(1.06);
}



.container-on-the-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-on-the-right p {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.arrow-down {
    text-align: center;
}

.fa-solid.fa-chevron-down {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.fa-solid.fa-chevron-down:hover {
    transform: scale(1.2);
}



